<style>
*{
    margin: 0;
    top:0;
    background: #ffffff;
}
.container img{
    width:150px;
    padding: 10px;
}
.container{
    padding: 5px;
    position: sticky;
    top:0;
    left:0;
    right:0;
}
.search{
    margin: auto;
    background: #ffffff;
    width: 250px;
    border-radius: 50px;
    display: grid;
    place-items: center;
}
interface img{
    width: 355px;
}
product img{
    width: 50px;
    flex-wrap: wrap;
}

item{
    height: 70px;
    margin: 6px;
}
.item-2{
    height: 60px;
    margin: 3px;
}
.item-3{
    height:70px;
    margin: 1px;
}
.item-4{
    height:65px;
    margin: 1px;
}
.item-5{
    height:65px;
    margin: 3px;
}
.item-6{
    height:80px;
    margin: 1px;
}
.item-7{
    height:70px;
    margin: 1px;
}
.item-8{
    height:65px;
    margin: 7px;
}
.item-9{
    height: 70px;
    margin: 1px;
}
.item-10{
    height:70px;
    margin: 1px;
}
.middle{
    width: 360px;
}
.middle-2{
    background: lightgreen;
}
.middle-2 img{
    width: 130px;
    margin: 20px;
}
.middle-3{
    height: 270px;
}
.middle-4{
    height: 270px;
}
.middle-5{
    height: 270px;
}
.4{
    background: lightgreen;
}
.last{
    width: 115px;
}
.last-2{
    width: 115px;
}
.last-3{
    width: 115px;
}
.poster{
    background: aqua;
}
</style>
